html{
	height:100%;
	overflow:hidden;
}
body{
	 height:100%;
}


html,body,td,p,select,input,div,table,h1,h2,h3,span,button{
	font-size:12px; 
	font-family:Verdana, Arial, Helvetica, sans-serif,"ו";
	margin:0;
	padding:0;}
	
a{
	margin:0;
	padding:0;
	font-family:verdana,Arial, Helvetica, sans-serif;
	list-style-type:none;
	font-size:inherit;color:inherit;
	z-index:inherit
}	


.gTop,.gTab .oneTab div.bdy,.gTab .oneTab div.btnTab{ 
		background-image:url(../../images/main/lan/f2.gif);
		background-repeat:repeat-x}
.gTab .oneTab div.tLe,.gTab .oneTab  div.tRi,.gTab .oneTab  a.TabCls,.gTab .oneTab  a.TabClsOver{ 
		background-image:url(../../images/main/lan/f1.gif);
		background-repeat:no-repeat}
		
		


.gTop{ height:70px;background-position:0 9px;position:relative; background-color:#FFF}
.gTab{height:28px;padding-left:160px; position:absolute; top:41px; overflow:hidden;width:100%}
.gTab .oneTab{
		width: 130px;
		height:26px;
		float:left;
		display: inline-block;
		cursor:pointer;
		vertical-align:middle; }


.gTab .oneTab div{
		display: inline-block;
		height:26px;
		vertical-align:middle;
		margin:0;
		padding:0;
}

.gTab .oneTab div.bdy{
		width:93px;
		padding:0 5px;
		overflow:hidden;
		text-overflow:ellipsis;
		font-weight:bold; 
		padding-top:5px; 
		text-align:center; 
		float:left;
		background-position:0 -142px;}
		
		
.gTab .oneTab div.tLe{
		width:6px; 
		font-size:0;
		background-position:-456px -19px; 
		float:left;}

.gTab .oneTab div.btnTab{ 
		float:right;
		width:15px; 
		padding-top:5px;
		background-position:0 -142px;}
.gTab .oneTab div.tRi{  
		float:right; 
		width:6px; 
		font-size:0;
		background-position:-472px -19px}
.gTab .oneTab a.TabCls{
		width:15px;
		height:15px; 
		background-position:-520px -28px}
.gTab .oneTab a.TabClsOver{
		width:15px;
		height:15px; 
		background-position:-520px -71px}



.gTab .on div.bdy{
		width:95px;
		background-position:0 -184px;
		}
						
.gTab .on div.tLe{
		width:5px; 
		background-position:-457px -61px; 
		}
.gTab .on div.btnTab{
	    background-position:0 -184px;}
.gTab .on div.tRi{ 
		width:6px;
		margin-left:-1px;
		background-position:-470px -61px}
.gTab .on a.TabCls{
		background-position:-520px -71px}
		
.gTab .on a.TabClsOver{
		background-position:-520px 3px}
.gTab .on div.bdy NOBR{ color:#FFFFFF}




.gMain{width:100%;heigth:100%;table-layout:fixed; }
.gMain{vertical-align:top;}

/**
* left
*/
.gLe{
	float: left;
	width:171px;
	overflow-x:hidden;
	overflow-y:auto;
	z-index:10000;
	height:100%;
}

.lineTd{
	border: 1px solid #84B8D5;
	width:1px;
}

.resizeTd{ 
	float: left;
	width:5px;
	height:100%;
	background-color:white;
	border-left: 2px solid #84B8D5;
	margin:0px; 
	cursor:w-resize; 
} 
#middle:hover{ cursor:w-resize;} 

/**
** Right
*/
.gRi{ float: right; margin: 0 0 0 -173px; width: 100%;height:100%;}
.mRight{ height:100%; }

.lrschidren{float:left;width:100%;height:100%;}

.mTitle a,NOBR{
	color:#3C74A6;
}


.mTitle{
	height:30px;
	width:100%;
	line-height:30px;
	vertical-align:middle;
	background-image:url(../../images/main/lan/menu_tit_s.jpg);
	background-repeat: no-repeat;
	cursor:pointer
}
.mTitle a{
	padding-left:30px;
	font-weight:bold;
}
.mTitle-hover{
	color:#fff;
	background-image:url(../../images/main/lan/menu_tit_x.jpg)
}


.mMenu{
	padding-left:28px;
	margin-left:10px;
	height:23px;
	width:100%;
	margin-top:5px;
	line-height:23px;
	background-image:url(../../images/main/menu_out.gif);
	background-repeat: no-repeat;
	cursor:pointer
}
.mMenu-hover{
	background-image:url(../../images/main/menu_hover.gif)
}
.mMenu-hover2{
	background-image:url(../../images/main/menu_hover.gif)
}
.mMenu a{
}

/********************************************************border-right:1px solid #84B8D5;************************************/
.tree{margin:0px;overflow-x:auto;overflow-y:auto;width:100%;}


/********************************************* table *************************************/
.gridTitle{
	
	margin:0px 0px 0px 5px;
	border-top:1px solid #8db2e3;
	border-left:1px solid #8db2e3;
	border-right:1px solid #8db2e3;
	text-align:left;
	vertical-align: middle;
	background-color:#e6EEEE;
	width:98%;
	height:25px;
	font-size: 15px;
}

.gridTitle img{
	margin-top:3px;
	margin-left:3px;	
}

table.tablesorter {
	font-size:12px;
	margin:0px 5px 5px 5px;
	font-size: 12px;
	width: 98%;
	text-align: left;
	vertical-align:middle;
	border-collapse:collapse; 
}

table.tablesorter tr{
	height:20px;
		vertical-align:middle;
}
table.tablesorter thead tr th,table.tablesorter tr td.title{
		background-color:#e6EEEE;
		font-size: 15px;
		padding: 1px;
		vertical-align: middle; 
}

table.tablesorter tr td.title img{
	margin-top:3px;
	margin-left:3px;	
}

table.tablesorter tfoot tr th {
 		background-color:#e6EEEE;
		font-size: 12px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	vertical-align: middle; 
}
table.tablesorter td {

	padding: 1px;
	padding-left:2px;
	text-align: left;
	vertical-align: middle; 
}


table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}
table.tablesorter tbody tr.selected td{
    background-color:yellow;
}
table.tablesorter tbody tr.mover td{
	background-color: #a6c2e7;
}

table.tablesorter tfoot tr td {
		background-color:#e6EEEE;
		border: 1px solid #ccc;
		font-size: 12px;
}

table.tablesorter tbody tr.zebra td{
	background-color: #ECF5FF;
}

table.tablesorter tbody tr.selected:hover td{
	background-color:#ff9;
}

table.tablesorter td,table.tablesorter th{ border:#ccc solid 1px; }

.table_checkbox{width:12px; height:12px}

/****************************************table.hor-minimalist ************************************************/
.hor-minimalist
{

	line-height: 1.6em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 5px 10px 10px 10px; 
	width: 98%;
	border-collapse: collapse;
	text-align: left;
}
.hor-minimalist th
{
	line-height: 1.6em;
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
.hor-minimalist td
{
	line-height: 1.6em;
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}
.hor-minimalist tbody tr:hover td
{
	line-height: 1.6em;
	color: #009;
}

/****************************************input************************************************/

input,select,button { height:20px;vertical-align:middle; }

button,input.ctlBtn,a.ctlBtn {

	text-align:center;
  
    font-family:Verdana;*font-family:Georgia;_font-family:Tahoma;

    padding:0 10px 1px;*padding:3px 3px 1px;_padding:0 4px 1px;

    line-height:18px;*line-height:14px;_line-height:16px;

    height:25px;

}

/**
a.ctlBtn {
        
        height:28px;
	  	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e0e0e0), color-stop(1, #e9e9e9));
		background:-moz-linear-gradient(top, #e0e0e0 5%, #e9e9e9 100%);
		background:-webkit-linear-gradient(top, #e0e0e0 5%, #e9e9e9 100%);
		background:-o-linear-gradient(top, #e0e0e0 5%, #e9e9e9 100%);
		background:-ms-linear-gradient(top, #e0e0e0 5%, #e9e9e9 100%);
		background:linear-gradient(to bottom, #e0e0e0 5%, #e9e9e9 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#e9e9e9',GradientType=0);
		background-color:#e0e0e0;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		border:1px solid #a6a6a6;
		display:inline;
		cursor:pointer;
		color:#666666;
		font-family:arial;
		font-size:15px;
		font-weight:bold;
		padding:5px 20px;
		text-decoration:none;
		text-shadow:0px 1px 0px #ffffff;
        
    }
  a.ctlBtn:hover {
	        
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #e0e0e0));
		background:-moz-linear-gradient(top, #e9e9e9 5%, #e0e0e0 100%);
		background:-webkit-linear-gradient(top, #e9e9e9 5%, #e0e0e0 100%);
		background:-o-linear-gradient(top, #e9e9e9 5%, #e0e0e0 100%);
		background:-ms-linear-gradient(top, #e9e9e9 5%, #e0e0e0 100%);
		background:linear-gradient(to bottom, #e9e9e9 5%, #e0e0e0 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#e0e0e0',GradientType=0);
		background-color:#e9e9e9;
    }
   a.ctlBtn:active {
        position:relative;
        top:1px;
    }
*/

object{
	vertical-align: bottom;
}

#dmLayer{
	position: absolute;
	border: 1px solid #838484;
	background:white;
	width: 164px;
	height: 200px; 
	z-index: 9998;
	display: none;
	overflow-y:auto;
	overflow-x:hidden;
}

.popupimg1 {
	CURSOR: pointer;
	padding-bottom:0px;
	*padding-bottom:-2px;
	*padding-top:1px;
	margin-left:-41px;
}

.popupimg2 {
	CURSOR: pointer;
	padding-bottom:0px;
	*padding-bottom:-2px;
	*padding-top:1px;
	margin-left:0px;
}



.popupimg {
	CURSOR: pointer;
	padding-bottom:0px;
	*padding-bottom:-2px;
	*padding-top:1px;
	margin-left:-21px;
}

.dmLayerMouseOverCss{
	background-color:yellow;
}
.dmLayerPageCss{
	
	background-color:#e6EEEE;
	border: 1px solid #FFF;
	font-weight:bold;
}
.dmLayerEven{
  background:#e6EEEE;
}


.firstPage,.prevPage,.pagedisplay,.nextPage,.lastPage{
	margin-bottom:-4px;
	cursor:pointer;
}

.ui-tabs .ui-tabs-panel {
	padding:0;	
}

a.tile-title.accent {
	padding-top: 3px;
}

/**
**** HTML5 upload
*/
	.myhtml5file { 
		position:relative; 
	} 
	.myhtml5file input { 
		font-size:12px; 
		margin:0; 
		padding:0; 
		position:relative; 
		vertical-align:middle; 
		outline:none; 
	} 
	
	.myhtml5file .span3 { 
		font-size:15px; 
	}
	.myhtml5file input[type="text"] { 
		width:172px; 
		z-index:4; 
	} 
	.myhtml5file input[type="button"] { 
		width:84px; 
		height:25px; 
		z-index:2; 
	} 
	.myhtml5file input[type="file"] { 
		position:absolute; 
		right:0px; 
		height:25px; 
		opacity:0; 
		z-index:3; 
	}

/**
*
*  APPS
*
*/	
.font14 {
	font-family: Arial;
	font-size: 14px;
}

.font12 {
	font-family: Arial;
	_font-family: ו;
	font-size: 12px;
}

.list_box {
	padding: 0px 0px 0px 20px;
	width: 800px;
}
.list_box ul {
	list-style: none;
}

.list_box li {
vertical-align: middle;
}

.list_box .list_item {
	border-bottom: 1px solid #D8D8D8;
	padding: 12px 10px 5px 10px;
	overflow: hidden;
	margin: 0px;
}

.left {
	float: left;
}

.list_box .list_content {
	padding: 0 0 0 10px;
	margin:0px;
	float: left;
	width: 465px;
	display: inline;
	word-break: normal;
	word-wrap: normal;
}

.list_box .list_content dt {
	height: 20px;
	line-height: 20px;
}


.list_box .list_title {
	display: inline-block;
	float: left;
	padding-top: 2px;
}

.list_box .list_title a {
	color: #333333;
	text-decoration: none;
}


.list_box .list_version {
	color: #528b00;
	display: inline-block;
	float: left;
	margin: 0px 10px;
	font-weight: bold;
}


.list_box .list_describe {
	line-height: 20px;
	margin: 5px 0px 8px 0px;
	color: #777777;
}

.list_r_w {
	width: 102px;
	float: right;
	valign: middle;
}

.list_star {
	float: left;
	margin: 4px 0px 0px 0px;
}





.star_4_s {
	width: 75px;
	height: 13px;
	overflow: hidden;
	background-position: -19px -52px;
}

.star_bg {
	background-repeat: no-repeat;
	display: block;
	float: left;
}


.official_tips_list {
	background-image: url("good.png");
	background-repeat: no-repeat;
	width: 67px;
	height: 24px;
	margin-left: 5px;
	float: left;
}


.sub_seach_time {
	color: #999999;
	display: inline;
	font-size: 12px;
	float: left;
}

.sub_right_9 {
	color: #999999;
	margin-left: 25px;
	font-size: 12px;
	float: left;
}


.z {
	clear: both;
	overflow: hidden;
	font-size: 0px;
	height: 0px;
	_width: 0;
}

dd {
	display: block;
	-webkit-margin-start: 40px;
}
	